<!-- <div>
   <my-button></my-button>
</div> -->
<header>
    <h1>Custom Elements in an Angular application</h1>
</header>

<main>
    <hr>
    <section>
        <header>
            <h2>The near future of application development</h2>
            <p>Custom Elements. Internationalisation. Accessibility.</p>
        </header>
        <aside>
            <h3>Custom elements</h3>
            <p>HTML elements whose behavior is defined by the web developer, that extend the set of elements available in the browser.</p>
            <my-button (myclick)="openAtomicDesign()">Atomic design</my-button>
            <simple-dialog
                (simpleDialogClosed)="atomicDesignDialogOpen = false"
                [attr.sd-is-open]="atomicDesignDialogOpen ? '' : null">
                <div slot="dialog-header">
                    <h2>Hello there!</h2>
                </div>
                <p>This is an example of Custom element-based dialog.</p>
            </simple-dialog>
        </aside>
        <aside>
            <h3>Internationalisation</h3>
            <p>The ECMAScript 2024 Internationalization API Specification, provides key language sensitive functionality, which has been selected from that of well-established internationalization APIs.</p>
        </aside>
        <aside>
            <h3>Accessibility</h3>
            <p>The Web is fundamentally designed to work for all people, whatever their hardware, software, language, location, or ability. When the Web meets this goal, it is accessible to people with a diverse range of hearing, movement, sight, and cognitive ability.</p>
        </aside>
    </section>
    <hr>
    <section>
        <blockquote>
            "Custom elements are the building blocks of innovation, allowing creativity to take shape in the digital world."
            <footer><i>- YourChat</i></footer>
        </blockquote>
    </section>
</main>
<footer>
    <hr>
    <p>
        TypeScript Live: CPH, 6 March 2024.
    </p>
</footer>

<router-outlet></router-outlet>